<div class="site-content">
  <main class="site-main  main-container no-sidebar">
     <div class="container">
      <<div class="breadcrumb-trail breadcrumbs">
        <ul class="trail-items breadcrumb">
          <li class="trail-item trail-begin">
            <%= link_to Spree.t(:home), spree.root_path %>
          </li>
          <li class="trail-item trail-end active">
            <span>
              <%= Spree.t(:shopping_cart) %>
            </span>
          </li>
        </ul>
      </div>
        <div class="row">
          
        </div>
     </div>
  </main>
</div>
