/*--------------------------------
  Colors
--------------------------------*/
$primary: #1c5c92;
$black: #000000;
$alink: #0e0e0e;
$color-1: #2D2D2D;
$color-2: #000000;
$color-3: #D66F7B;
$color-4: #C82A34;
$color-5: #C5C5C5;

/*build by https://coolors.co/*/