/*--------------------------------
  Colors
--------------------------------*/
$primary: #1c5c92;
$black: #000000;
$alink: #0e0e0e;
$color-1: #2D2D2D;  
$color-2: #000000; /*default 000 */
$color-3: #D66F7B;  /*second color*/
$color-4: #C82A34;  /*main color*/
$color-5: #C5C5C5;
$color-6: #2D2D2D;  /*active* 222222*/ 
$color-7: #888; /*normal link  888*/

/*build by https://coolors.co/*/