   <div class="top-bar">
        <div class="container">
            <div class="top-bar-left">
                <div class="header-message">
                    <%=Spree.t('welcome')%>
                </div>
            </div>
            <div class="top-bar-right">
                <div class="header-language" id="dislu_language">
                     <%= render partial: 'spree/shared/locales_bar' %>
                   
                </div>
                <ul id="user_links" class="header-user-links" data-hook>
                   
                </ul>
            </div>
        </div>
    </div>