 <div class="banner-wrapp rows-space-35">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="banner">
                            <div class="item-banner style12">
                                <div class="inner">
                                    <div class="banner-content">
                                        
                                        <h3 class="title">Best Seller</h3>
                                        <div class="description">
                                            Check out our new scarf collection!
                                        </div>
                                        <a href="#" class="button btn-shop-now">Shop now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="banner">
                            <div class="item-banner style14">
                                <div class="inner">
                                    <div class="banner-content">
                                        <h4 class="nozari-subtitle">End this weekend</h4>
                                        <h3 class="title">Big Sale <br/>75% Off</h3>
                                        <div class="code">
                                            Use promo Code:
                                            <span class="nummer-code">NOZARI</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="banner">
                            <div class="item-banner style12 type2">
                                <div class="inner">
                                    <div class="banner-content">
                                        <h3 class="title">Lookbook</h3>
                                        <div class="description">
                                            Bucket hat Collections <br/>Summer Lookbook
                                        </div>
                                        <a href="#" class="button btn-view-the-look">View all</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>