<div >

 <header  class="header style7">
    <%= render partial: 'spree/shared/dislu_nav_bar' %>

    <div class="header-nav-container mb-0">
        <div class="container">
            <div class="header-nav-wapper main-menu-wapper">
                 <%= render partial: 'spree/shared/dislu_categories' %>
                <div class="header-nav">
                    <div class="container-wapper">
                       <%= render partial: 'spree/shared/main_nav_bar' %>
                    </div>
                </div>
            </div>
        </div>
    </div>


 </header>
 <%= render partial: 'spree/shared/dislu_mobile_top' %>

   
</div>
