<nav id="main-nav-bar" >
  <ul class="nozari-clone-mobile-menu nozari-nav  main-menu " id="menu-main-menu">
   <li class="menu-item" id="home-link" data-hook>
     <%= link_to Spree.t(:home), spree.root_path, class: 'nav-link' %>
   </li>
   
 </ul>
</nav>
