<% @body_id = 'home-page' %>
<% @body_class = 'home' %>
  <div class="main-content">
    <div class="fullwidth-template pt-3">
       <div class="container">
        <%= render partial: 'spree/shared/dislu_flash_message' %>
       </div>
     
    	 <%= render partial: 'spree/shared/dislu_home_slider' %>
    	 
    	 <%= render partial: 'spree/shared/dislu_home_products' %>
    </div>
</div>

